

.list__nav,
.contacts {
display: flex;

}

.nav__item {
    margin-right: 50px;
        &:last-child {
        margin-right: 0;
    }
}


.contacts__item + .contacts__item {
    margin-left: 40px;
}

.contacts {
    margin-left: auto;
}

.link__nav {

    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-align: center;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus
        {
            color: var(--accent-color);
            fill: var(--accent-color);
    
        }
}

.link__contacts {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--dop-text-color);
    text-align: center;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
            fill: #2196F3;
            color: var(--accent-color);
    
        }
}

.contacts__item:hover,
.contacts__item:focus {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.list__nav .link__current {
    color: var(--accent-color);

}

.link__current {
    position: relative;
    &::after{
            content: '';
            display: inline-block;
            background-color: var(--accent-color);
            border-radius: 2px;
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;}
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
}

.logo.address {
    margin-right: 0;
    margin-bottom: 28px;
    display: inline-block;
    padding: 0;
    color: #FFFFFF;
}

.part-logo {
    color: var(--accent-color);
}