.list-icon {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 16px;
        padding-left: 32px;
        padding-right: 32px;
}

.list-icon li {
    margin-right: 10px;
}

.list-icon a {
    display: block;
    background-color: #FFFFFF;
    height: 44px;
    width: 44px;
    padding: 12px 12px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
            background-color: var(--accent-color);
        }
}
.icon-mail{
margin-right: 10px;
height: 12px;
width: 16px;
fill: currentColor;
}
.icon-phone{

margin-right: 10px;
height: 16px;
width: 10px;
fill: currentColor;
}
.list-icon a:hover svg, .list-icon a:focus svg{
fill: var(--white-text-color);

}
.list-icon svg{
height: 20px;
width: 20px;
fill: #afb1b8;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icon.address svg{
height: 20px;
width: 20px;
fill: var(--white-text-color);
    }
.list-icon.address a {
background-color: rgba(255, 255, 255, 10%);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus {
        background-color: var(--accent-color);
        border-radius: 50%;

    }
}

.list-icon.footer{
padding-top: 0;
margin-top: 0;
}
