.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
}

.logo.address {
    margin-right: 0;
    margin-bottom: 28px;
    display: inline-block;
    padding: 0;
    color: #FFFFFF;
}

.part-logo {
    color: var(--accent-color);
}