.section.data{
background-color: var(--secondary-background-color);
padding-bottom: 94px;
}
.data__list {
display: flex;
}
.data__property{
padding: 30px 0;
}
.data__discription{
display: block;
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--white-text-color);
}
.data__list li:last-child{
margin-right: 0;
}
.data__list img{
display: block;
}
.data__caption{
margin-top: 0;
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
}
.data__text{
margin-top: 0;
margin-bottom: 0;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: var(--dop-text-color);
}

.data__titel{
margin-top: 0;
margin-bottom: 50px;
font-size: 36px;
line-height: 1.16;
text-align: center;
}
